# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/buildSrc
/out

/.idea

# Eclipse
# -------
*.classpath
*.project
*.settings
/bin
/subprojects/*/bin
atlassian-ide-plugin.xml
.metadata/

# NetBeans
# --------
.nb-gradle
.nb-gradle-properties

# Vim
# ---
*.sw[nop]

# Emacs
# -----
*~
\#*\#
.\#*

# Textmate
# --------
.textmate

# Sublime Text
# ------------
*.sublime-*

# jEnv
# ----
.java-version

# macOS
# ----
.DS_Store

# Logs
# ----
/*.log

# oh-my-zsh gradle plugin
.gradletasknamecache

.vscode

*.gpg
secring*

# coverage output
tmp/coverage

# test reports
tmp/test-reports
